[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./looks.cfg


# Path to python file. Can use relative path from here.
# Only need this if RLBot controlled
python_file = ./human_bot.py
