# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Preprocessed files
*.i

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea
*.iml
.vs/
RLBot Core/Bin/
RLBot Core/Obj/
RLBot Core Interface/Bin/
RLBot Core Interface/Obj/
RLBot Core Messages/Bin/
RLBot Core Messages/Obj/
RLBot Core SDK/Bin/
RLBot Core SDK/Obj/
*.vcxproj.user
*.VC.VC.opendb
*.VC.db

# test files
test.cpp